<%- include('header'); -%>

<div id="heading">

  <h1>Hi I'm Gideon, A developer that is based in the Philippines.</h1>
</div>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus cum atque tempora incidunt mollitia nam molestiae rem excepturi beatae, delectus porro aperiam dicta voluptate reiciendis placeat, error blanditiis eum sed.</p>


<%- include('footer'); -%>